<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Retrieval</title>
</head>
<body>
    <div style="padding-left: 60px;">
        <h1>Image Retrieval</h1>
        <form action="" enctype='multipart/form-data' method='POST'>
            <input type="file" name="picture" style="margin-top:20px;"/>
            <br>
            <i>Upload your picture, please click here: </i>
            <input type="submit" value="upload" name="submit" class="button-new" style="margin-top:15px;"/>
            <br>
            <i>Start retrieval, please click here: </i>
            <input type="submit" value="retrieval" name="submit" class="button-new" style="margin-top:15px;"/>
        </form>
    </div>
</body>
</html>